body {
    background-color: #89aaa7;
    text-align:center;
    font-family: "Poppins";
    color:#36323e;
}

button{
    background-color:#609726;
    border:#558521 inset 4px;
    transition:0.2s;
}

button:hover{
    background-color:#6ca82c;
    border:#304b12 inset 2px;
}

input{
    text-align:center;
}

.letter {
    border: 2px solid black;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    align-content: center;
    background-color: gray;
}

.letter.correct {
    background-color: greenyellow;
}

.letter.kindofcorrect{
    background-color:rgb(255, 255, 78);
}
